<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Neon Letters</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="sign">
      <span class="fast-flicker">Remem</span>Birth<span class="flicker"></span>day
    </div>

  </body>
</html>



<body>

<div class="homepage">
    <img id="homeimage" src="https://images.unsplash.com/photo-1530103862676-de8c9debad1d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80"/>            
</div>
</body>