@import "bootstrap/scss/bootstrap";
@import "birthdays";
@import "gifts";
@import "users";

.sitetitle {
  position: absolute;
  top: 45%;
  left: 50%;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-shadow: 2px 2px black;
  transform: translate(-50%, -50%);
}


.sitetext {
  position: absolute;
  top: 55%;
  left: 50%;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-shadow: 2px 2px black;
  transform: translate(-50%, -50%);
}


.homepage{
	background-size: cover;
	height: 500px;
  width: 600px;
}

.list-group{
  display:inline-block;
}

.cards {
  display: flex;
  justify-content: space-between;
}